body {
    width: 100%;
    margin: 0 auto;
}
.wrap {
    width: 95%;
    margin: 0 auto;
}
ul, li, a {
    list-style: none;
    text-decoration: none;
    color: black;
}
nav {
    /* width: 95%;
    margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    background-color: powderblue;
}
nav ul {
    margin: 0;
    padding: 0;
    padding: 20px 20px 20px 0;
    display: flex;
}
nav ul li a {
   padding: 20px;
   font-size: 20px;
   font-weight: bold;
}
nav ul li a:hover {
    background-color: rgb(98, 166, 175);
    color: white;
}
form {
    margin: 20px 0;
    display: flex;
    align-items: center;
}
input {
    width: 200px;
    height: 24px;
}
select {
    width: 80px;
    height: 30px;
    margin: 0 14px 0 6px;
}
#searchButton {
    width: 50px;
    height: 30px;
    cursor: pointer;
    
}
.table_wrap {
    height: 760px;
    overflow: auto;
}
table {
    width: 100%;;
    border-collapse: collapse;
    /* margin: 0 auto; */
}
table th {
    background-color: palevioletred;
    top: 0;
    position: sticky;
}

th,
td {
    padding: 8px;
    text-align: left;
}

table tbody tr:nth-child(2n+0) {
    background-color: pink;
}
table tbody tr td:first-child {
    cursor: pointer;
}
table tbody tr:hover {
    background-color: rgba(0, 255, 255, 0.5);
}
table tbody tr td a {
    /* text-decoration: underline; */
    color: blue;
}
#pagination {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#pagination {
    display: flex;
    align-items: center;
}
#pagination .page_number {
    padding: 8px 14px;
    margin: 10px;
    text-decoration: none;
    border: 1px solid gainsboro;
    color: black;
    cursor: pointer;
}
#prevButton, #nextButton {
    width: 80px;
    height: 36px;
    cursor: pointer;
}
#topstore_wrap ul li {
    list-style: circle;
}