* {
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0;
}
.calculator {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 50px 0;
    background-color: pink;
    border-radius: 5px;
}
.input_box {
    margin: 0 auto;
    width: 90%;
    height: 120px;
    background-color: palevioletred;
    border-radius: 5px;
}
.input_box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 40px;
}
.button_wrap {
    margin: 0 auto;
    width: 90%;
    margin-top: 40px;
}
.line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.line:last-child {
    margin-bottom: 0;
}
button {
    width: 24%;
    height: 80px;
    font-size: 30px;
    border-radius: 5px;
    background-color: paleturquoise;
}
button:hover {
    background-color: powderblue;
}
.clear {
    background-color: orange;
}
.clear:hover {
    background-color: rgb(232, 151, 0);
}
.calc {
    background-color: plum;
}
.calc:hover {
    background-color: rgb(200, 146, 200);
}