body {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
h1 {
    padding-top: 20px;
    text-align: center;
}
h1 .title {
    margin: 30px 16px 0 16px;
    font-size: 60px;
    font-weight: bold;
    color: palevioletred;
}
h1 img {
    width: 24px;
}
p {
    font-size: 30px;
    text-align: center;
}
#wrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
img {
    width: 50%;
}
